
html{
  height:100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#ffffff;
  min-height:100vh;
}
#root{
  min-height:100vh;
}
.freeze-screen{
  position:absolute;
  background-color: rgba(255,255,255,0.4);
  width:100%;
  height:100%;
  z-index: 100;
}
.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  background-color: #130f0f;
  font-size: 1.6em;
  font-weight: bold;
  padding:7px;
  text-align:center;
  color: gainsboro;
}

.main-page{
  position:relative;
  height:100%;
  background-color: white;
  height:100vh;
}
.signup-page{
  height: calc(100vh -111px);
  display:flex;
  flex-direction: row;
  padding: 30px 10%;
}
.signup-img{
  width:50%;
  height:80vh;
}

.sign-in-options,.firebaseui-card-content{
  background-color: white;
  display:inline;
}
.firebaseui-container
.firebaseui-page-provider-sign-in
.firebaseui-id-page-provider-sign-in
.firebaseui-use-spinner{
padding:0;
top:100px;
}

.menu-icon{
  height:24px;
}
.account-img{
  width:200px;
}
.menu-icon:hover,.cancel-icon:hover,.account-img:hover{
  cursor: pointer;
}

.sidebar-menu{
  background-color:rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding:3%;
  width:90%;
  color: gainsboro;
}
.cancel-icon{
  width: 25px;
  height:25px;
  position:relative;
  left:90%;
  background-color: white;
  border-radius:50%;
}
.sidebar-profile-pic{
  width: 150px;
  height:150px;
  border-radius: 50%;
  border:solid 5px white;
}
.filter-container{
  display:flex;
  position:relative;
  width:100%;
  flex-direction: row;
  justify-content: flex-end;
}
.filter-icon:hover{
  cursor: pointer;
}
.filter-menu{
  position: absolute;
  height:125px;
  display:flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  top: 32px;
  background-color: rgb(27,27,27);
  color: gainsboro;
  padding:15px;
  border-radius: 10px;
}
form{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}
select,option{
  width:150px;
  height:30px;
}
.filter-btn,.clear-filter{
  width:50px;
  height:25px;
  border:none;
  border-radius: 5px;
  font-weight:400;
  background-color: gainsboro;
  cursor: pointer;
}
.account-bar{
  position: relative;
  top:4px;
  left:7px;
  font-size: 14px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  color: gainsboro;
}
.nav-profile-pic{
  width:40px;
  height:40px;
  border-radius: 50%;
  border: solid 3px white;
  right:10px;
}
.submit-image{
  width: 200px;
  height:200px;
  border-radius: 50%;
  margin: auto;
}
input[type=file]{
  border:none;
  margin:auto auto;
}
.personal-details{
  position: absolute;
  z-index:1000;
  top: 15%;
  display: flex;
  flex-direction: column;
  width: 400px;
  max-height: 400px;
  padding: 20px;
  background-color: rgb(27, 27, 27);
  color:rgb(255, 255, 255);
  box-shadow:0px ​2px 15px 8px rgb(15 15 15);
  left: calc((100% - 400px)/2);
  justify-content: center;
}
.form-details{
  display: flex;
  flex-direction:column;
  align-content: space-between;
}
.display-container{
  display: flex;
  flex-direction: row;
  width:96%;
  padding:2%;
}
.input-box{
  padding:2%;
  background-color:rgb(233, 231, 231);
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  width:90%;
}
.input-fields{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-container{
  display:flex;
  flex-direction:row;
  width:100%;
  margin: auto auto;
}
.box-1{
  width:25%;
}
.box-2{
  width:65%;
  padding: 20px;
}
.form-button,.details-btn{
  background-color: rgb(27, 27, 27);
  width:100px;
  height: 40px;
  border-radius:5%;
  border: none;
  margin: 5px auto;
  color: gainsboro;
}
input,select{
  border: solid 1px grey;
  width: 150px;
  background-color: white;
  margin:5px;
  height:30px;
}
input[type=color i]{
  border:none;
  width:30px;
}
input.task-name{
  width: 50%;
}
label{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.display-priority-btn{
  width:100px;
  height:30px;
  border-radius: 7%;
  background-color: white;
}
.done,.delete,.custom-label-tabs,.low-btn,.high-btn,.medium-btn,.details-btn{
  height:30px;
  width:80px;
  margin:5px;
  border:none;
  border-radius: 7%;
  font-weight: bold;
}

.custom-label-tabs{
  display:inline;
  width:auto;
  background-color: rgb(27, 27, 27);
}
.done:hover,.delete:hover,.details-btn:hover,.form-button:hover,.custom-label-tabs:hover,.low-btn:hover,.medium-btn:hover,.high-btn:hover{
  cursor:pointer;
  transform: scale(1.1);
}
.sign-out{
  color: gainsboro;
}
.sign-out:hover{
  cursor: pointer;
}
.delete,.done{
  background-color: rgb(27, 27, 27);
  color: gainsboro;
}
.custom-label-tabs,.low-btn,.medium-btn,.high-btn{
  background-color: rgb(27, 27, 27);
  color: gainsboro;
}
.low-btn{
  border: solid 3px green;
}
.high-btn{
  border: solid 3px red;
}
.medium-btn{
  border: solid 3px yellow;
}
.all-btn{
  width:80%;
}
.account-bar{
  width:200px;
}
.priority-tabs,.custom-labels-tabs{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.profile{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.profile-btn,.sign-out{
  padding:10px;
  background-color: rgb(27, 27, 27);
  border:none;
  font-weight: bold;
}
.completed-label{
  border: solid 3px black;
  border-radius: 5px;
  display: inline;
  padding: 5px;
}
hr{
  width:95%;
}
.display-completed,.display-pending{
  width:50%;
  padding:2%;
}
.incomplete-img,.no-task-img{
  width:250px;
  height:250px;
}
.incomplete-title,.no-task-title{
  margin:5px;
}
.incomplete,.no-task{
  display:flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width:450px){
  .nav-bar{
    height:40px;
    font-size: 1.3em;
    padding:2%;
  }
  .signup-page{
    height: calc(100vh - 45px);
  }
}