html{
  height:100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  height:100%;
}
.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  color:white;
  background-color:rebeccapurple;
  font-size: 1.6em;
  font-weight: bold;
  padding:7px;
  text-align:center;
}

.main-page{
  position:relative;
  height:100%;
}

.main-page::after{
  content:"";
  position: absolute;
  z-index:-1;
  background-image: url('./images/mainpage.jpg');
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

}

.sign-in-options,.firebaseui-card-content{
  background-color: white;
  display:inline;
  height: 800px;
  width:600px;
}

.menu-icon{
  color: white;
  height:24px;
}
.menu-icon:hover,.cancel-icon:hover,.account-img:hover{
  cursor: pointer;
}

.sidebar-menu{
  width:25%;
}