html{
  height:100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  height:100%;
}
.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  color:white;
  background-color:#003333;
  font-size: 1.6em;
  font-weight: bold;
  padding:7px;
  text-align:center;
}

.main-page{
  position:relative;
  height:100%;
}

.main-page::after{
  content:"";
  position: absolute;
  z-index:-1;
  background-image: url('./utilities/images/mainpage.jpg');
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

}

.sign-in-options,.firebaseui-card-content{
  background-color: white;
  display:inline;
  height: 800px;
  width:600px;
}

.menu-icon{
  color: white;
  height:24px;
}
.menu-icon:hover,.cancel-icon:hover,.account-img:hover{
  cursor: pointer;
}

.sidebar-menu{
  background-color: rgba(0, 51, 51,0.9);
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
}
.cancel-icon{
  width: 25px;
  height:25px;
  margin-right: 0;
}
.sidebar-profile-pic{
  width: 150px;
  height:150px;
  border-radius: 50%;
}

.account-bar{
  position: relative;
  top:28px;
  border: 1px solid grey;
  color:black;
  font-size: 14px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-profile-pic{
  width:40px;
  height:40px;
  border-radius: 50%;
}
.nav-profile-pic:active{
  border: solid 2px white;
}
.submit-image{
  width: 200px;
  height:200px;
  border-radius: 50%;
  margin: auto;
}
input[type=file]{
  border:none;
  margin:auto auto;
}
.personal-details{
  position: absolute;
  z-index:1000;
  top: 15%;
  display: flex;
  flex-direction: column;
  width: 400px;
  max-height: 400px;
  padding: 20px;
  box-shadow: -3px 2px 10px 3px grey;
  background-color: white;
  left: calc((100% - 400px)/2);
  justify-content: center;
}
.form-details{
  display: flex;
  flex-direction:column;
  align-content: space-between;
}
.display-container{
  display: flex;
  flex-direction: row;
  width:96%;
  padding:2%;
}
.display-pending-container,.display-completed-container{
  width: 50%;
}
.input-box{
  margin: 5% auto;
  padding:2%;
  background-color: rgba( 204, 153, 255,1);
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  width:75%;
}
.input-fields{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-container{
  display:flex;
  flex-direction:row;
  width:100%;
}
.box-1{
  width:25%;
}
.form-button,.details-btn{
  background-color:rgba(0, 51, 51,1);
  color:white;
  width:100px;
  height: 40px;
  border-radius:5%;
  border: none;
  margin: 5px auto;
}
input,select{
  border: solid 1px grey;
  width: 150px;
  background-color: white;
  margin:5px;
  height:30px;
}
input[type=color i]{
  border:none;
  width:30px;
}
input.task-name{
  width: 50%;
}
label{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.display-priority-btn{
  width:100px;
  height:30px;
  border-radius: 7%;
  background-color: white;
}
.done,.delete,.custom-label-tabs,.low-btn,.high-btn,.medium-btn,.details-btn{
  height:30px;
  width:80px;
  margin:5px;
  border:none;
  border-radius: 7%;
  font-weight: bold;
}
.custom-label-tabs{
  display:inline;
  width:auto;
}
.done:hover,.delete:hover,.details-btn:hover,.form-button:hover,.custom-label-tabs:hover,.low-btn:hover,.medium-btn:hover,.high-btn:hover{
  cursor:pointer;
  transform: scale(1.1);
}
.sign-out:hover{
  cursor: pointer;
}
.done{
  background-color: yellowgreen;
}
.delete{
  background-color: red;
  color:white;
}
.custom-label-tabs,.low-btn,.medium-btn,.high-btn{
  border:solid 1px white;
}
.low-btn{
  background-color: green;
}
.high-btn{
  background-color: red;
}
.medium-btn{
  background-color: yellow;
}
.all-btn{
  width:80%;
}
.account-bar{
  width:200px;
  background-color: rgba(0, 51, 51,0.9);
}
.profile-btn,.sign-out{
  padding:10px;
  background-color: rgba(0, 51, 51,0.9);
  border:none;
  color:white;
  font-weight: bold;
}
.profile-btn{
  border-bottom: solid 1px gray;
}
.completed-label{
  border: solid 4px black;
  border-radius: 10px;
  display: inline;
  padding: 5px;
}
